body {
    font-family: 'Pridi','Muli', sans-serif;
}

.mainheading h1.sitetitle {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.lead {
    font-size: 16px;
}

.footer {
    margin-bottom: 0;
}

.mainheading {
    padding-top: 0;
}
.layout-page {
    .article-post {
        font-family: 'Pridi','Muli', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
    }
}

.article-post {
    font-size: 1rem;
    line-height: 1.75;
    font-family: 'Pridi','Muli', sans-serif;
    font-weight: 300;
    p {
        font-family: 'Pridi','Muli', sans-serif;
        font-weight: 300;
    }
    h1, h2, h3, h4 {
        font-weight: 300;
        font-family: 'Muli','Pridi', sans-serif;
    }
}

.highlight {
    pre {
        background-color: #1e1e1e;
    }
    .nt {
        color: #6f9fd8;
    }
    .na {
        color: #67cdfe;
    }
    .s {
        color: #ce9178;
    }
    .language-html {
        color: #eee;
    }
}

.mainheading {
    h1.posttitle {
        font-size: 32px;
    }
}